.card__weather__container {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.card__weather__grid {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.card__weather__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card__weather__button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.7rem;
  background-color: var(--gray-500) !important;
  color: var(--white) !important;
  text-transform: none !important;
}

.card__weather__icon {
  display: flex;
  justify-content: center;
}

.card__weather__header {
  display: flex;
  justify-content: center;
}
